*{
	margin: 0;
	padding: 0;
}

#box{
	width: 700px;
	height: 800px;
	overflow: hidden;
	position:relative;
	left:0;
	top: 0;
	background: url(../img/bg.png) no-repeat;
	background-size: 100% 100%;
	/*box-sizing: border-box;
	border: 1px aquamarine solid;*/
}
/*#testborder{
	width: 700px;
	height: 800px;
	position: absolute;
	left: 0;
	top: 0;
	border: 5px aqua solid;
	text-align: center;
	font-size: 20px;
	color: #82BEFA;
	padding-top: 40px;
}*/

#score{
	position: absolute;
	left: 20px;
	top: 50px;
	overflow: hidden;
}
#score img{
	width: 40px;
	height: 40px;
	float: left;
}
#score span{
	line-height: 40px;
	color: #6985A7;
	font-size: 40px;
	float: left;
	height: 40px;
	margin-left: 20px;
}

#person{
	width: 100px;
	height: 100px;
	background: aqua;
	position:absolute;
	left:270px;
	top:400px;
	/*background: url(../img/rundog.gif) 0px 20px;*/
	background: url(../img/runman.gif) no-repeat -40px -40px;
	background-size: 180% 180%;
	z-index: 5;
	opacity: 0.9;
}
h1 img{
	position: absolute;
	top: -50px;
	left: 0px;
	width: 40px;
	height: 40px;
}
#board{
	width:700px;
	height:40px;
	position:absolute;
	left:0px;
	top:500px;
	background:rgba(0,0,0,0.4);
	
}  

#board2{
	width:600px;
	height:40px;
	position:absolute;
	left:850px;
	top:500px;
	background:#82BEFA;
	
}
