*{
	margin: 0;
	padding: 0;
}
#box{
	width: 500px;
	height: 500px;
	background: #000;
	margin: 100px 710px;
	overflow: hidden;
}

#box p{
	width: 20px;
	height: 20px;
	background: #C6C2E4;
	float: left;
}
