*{
	margin: 0;
	padding: 0;
}
#box{
	width: 500px;
	height: 900px;
	background: #000;
	margin: 20px auto;
	overflow: hidden;
}

#box p{
	width: 20px;
	height: 20px;
	background: #C6C2E4;
	float: left;
}

#control{
	width: 500px;
	margin: 50px auto;
}
#control a{
	display: inline-block;
	position: absolute;
	border: 1px aqua solid;
	width: 120px;
	height: 50px;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
}
#c-pause{
	left: 130px;
	top: 1110px;
	width: 100px;
}
#c-left{
	left: 280px;
	top: 1110px;
}
#c-top{
	left: 420px;
	top: 1040px;
}
#c-bottom{
	left: 420px;
	top: 1110px;
}
#c-right{
	left: 560px;
	top: 1110px;
}
