*{
	margin: 0;
	padding: 0;
}
#box{
	/*width: 500px;*/
	width: 100%;
	height: 700px;
	background: #000;
	margin: 0px auto;
	overflow: hidden;
}

#box p{
	width: 20px;
	height: 20px;
	background: #C6C2E4;
	float: left;
}

#control{
	width: 500px;
	margin: 50px auto;
}
#control a{
	display: inline-block;
	position: absolute;
	border: 1px aqua solid;
	width: 120px;
	height: 100px;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
}
#c-pause{
	left: 60px;
	top: 900px;
	width: 100px;
}
#c-left{
	left: 220px;
	top: 900px;
}
#c-top{
	left: 390px;
	top: 800px;
}
#c-bottom{
	left: 390px;
	top: 1000px;
}
#c-right{
	left: 560px;
	top: 900px;
}
a#score{
	border: 0;
	width: 200px;
	left: 60px;
	top: 750px;
}
a#c-easy{
	width:150px;
	left: 560px;
	top: 750px;
}
